<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
             <li>
                <a href="{{ path('produits') }}">Acceuil</a>
            </li>
            <li>
                <a href="{{ path('adminProduits_index') }}">Produits</a>
            </li>

        </ul>
    </div>
    

    
   
</div>